.wrapper {
  color: black;
  width: 35em;
  margin: auto;
}

.header {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.navBar {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.body {
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.footer {
  font-family: 'Roboto', sans-serif;
  bottom: .25em;
  text-align: center;
  position: absolute;
}

a:visited {
    color: blue;
}
